.card-el{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
    border-radius: 30px;
    max-width: 20rem;
    max-height: 30rem;
    margin: 15px;
    background-color: #922507;
    img{
        border-radius: 30px;
        margin: 20px;
        max-width: 10rem;
        max-height: 12rem;
        border: 5px solid white;
        min-width: 2rem;
    }
    hr{
        max-width: 20rem;
    }
}
.card-bottom{
    text-align: center;
    color:white;
    .name-h1{
        font-size: 25px;
    }
    .dtls{
        margin-top: 0%;
        font-size: 15px;
    }
    .extra{
        padding: 5px;
    }
}

.name-ctn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* p{
        font-size: 20px;
        margin-left: 10px;
    } */
}

@media (max-width: 768px){
    .card-el{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: fit-content;
        border-radius: 30px;
        width: 20rem;
        max-width: 30rem;
        margin: 15px;
        background-color: #922507;
        border: 5px solid white;
        img{
            border-radius: 20px;
            margin: 30px;
            max-width: 10rem;
        }
        hr{
            max-width: 25rem;
        }
    }
    .card-bottom{
        text-align: center;
        color:white;
        .name-h1{
            font-size: 25px;
        }
    }
}