.card-el{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
    border-radius: 30px;
    max-width: 25rem;
    max-height: 40rem;
    margin: 15px;
    background-color: #922507;
    img{
        border-radius: 30px;
        margin: 30px;
        max-width: 15rem;
        max-height: 16rem;
        border: 5px solid white;

        /* min-width: 2rem; */
    }
    hr{
        max-width: 25rem;
    }
}
.card-bottom{
    text-align: center;
    color:white
}

@media (max-width: 768px){
    .card-el{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: fit-content;
        border-radius: 30px;
        width: 20rem;
        max-width: 30rem;
        margin: 15px;
        background-color: #922507;
        border: 5px solid white;
        img{
            border-radius: 20px;
            margin: 30px;
            max-width: 20rem;
        }
        hr{
            max-width: 25rem;
        }
    }
}